

{% extends "base.html" %}

{% block head %}
<style>
    div.gallery {
      margin: 0px;
      border: 0px solid #ccc;
      float: left;
      width: 500px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    </style>
{% endblock %}

{% block body %}
<h2>Uploaded Image Plot</h2>
<div class="gallery">
    <img style="max-width: fit-content;max-height: fit-content;" src="data:image/jpeg;base64,{{ plot_url }}">
    <a href="data:image/jpeg;base64,{{ plot_url }}" style="border: none" download="plot.jpeg">
      <button>Download Image</button>
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  <button onclick="location.href='/'">HOME</button>a

{% endblock %}

